In [1]:
from dotenv import load_dotenv
import os
from tqdm import tqdm
import pandas as pd

In [2]:
df_selected = pd.read_csv("../data/datasets/processed/X_train_selected.csv")
df_train = pd.read_csv("../data/datasets/processed/df_merged.csv")

In [48]:

df_selected = df_selected.drop(columns="Unnamed: 0")
df_train = df_train.drop(columns="Unnamed: 0")

In [49]:
df_selected

,Precio,País_encoded,roble,cuero,polvo de vainilla,cereza,Ligero/Poderoso,Carneadobada,Seco/Dulce,NerelloMascalese,chocolate,Montepulciano,Cerdo,Quesodelechedecabra
0,0.011801,0.557202,0.0,1.0,0.0,1.0,0.552941,0.0,0.193548,0.0,0.0,0.0,0.0,0.0
1,0.000437,0.261813,1.0,1.0,0.0,0.0,0.964706,0.0,0.241935,0.0,1.0,0.0,0.0,0.0
2,0.000141,0.261813,1.0,0.0,0.0,1.0,0.647059,0.0,0.258065,0.0,1.0,0.0,0.0,0.0
3,0.001388,0.305350,1.0,0.0,0.0,1.0,0.235294,0.0,0.016129,0.0,0.0,0.0,0.0,0.0
4,0.001355,0.469239,1.0,1.0,0.0,1.0,0.564706,0.0,0.129032,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16119,0.001521,0.653856,0.0,1.0,0.0,1.0,0.270588,0.0,0.177419,0.0,0.0,0.0,0.0,0.0
16120,0.000601,0.261813,1.0,1.0,0.0,0.0,1.000000,0.0,0.209677,0.0,1.0,0.0,0.0,0.0
16121,0.001926,0.469239,1.0,1.0,0.0,1.0,0.694118,0.0,0.080645,0.0,0.0,0.0,0.0,0.0
16122,0.000529,0.261813,0.0,1.0,0.0,1.0,0.717647,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
16123,0.000581,0.419477,1.0,1.0,0.0,1.0,0.082353,0.0,0.096774,0.0,1.0,0.0,0.0,0.0

In [50]:
df_selected = df_selected.rename(columns={'País_encoded': 'País'})

In [51]:
df_prompt = df_train[df_selected.columns]

In [52]:
df_prompt = df_prompt[20:30]
df_prompt

,Precio,País,roble,cuero,polvo de vainilla,cereza,Ligero/Poderoso,Carneadobada,Seco/Dulce,NerelloMascalese,chocolate,Montepulciano,Cerdo,Quesodelechedecabra
20,30.93,Italia,1,0,0,0,6.2,0,2.0,0,1,0,0,0
21,31.06,Italia,1,1,0,1,5.1,0,0.7,0,0,0,0,0
22,32.45,Portugal,1,0,0,1,6.9,0,1.1,0,0,0,0,0
23,32.45,Francia,0,1,0,0,4.9,0,0.0,0,0,0,0,0
24,32.44,Italia,0,0,0,0,6.4,0,1.9,0,0,0,0,0
25,32.44,Portugal,1,1,0,0,7.9,0,1.0,0,1,0,0,0
26,32.15,Italia,0,0,0,0,5.1,0,0.0,0,0,0,1,0
27,30.30,Francia,1,1,0,0,7.1,0,0.3,0,0,0,0,0
28,31.42,Italia,0,1,0,0,3.8,1,1.4,0,0,0,0,0
29,32.40,España,0,0,1,0,5.7,0,2.3,0,0,0,0,0

In [53]:
df_prompt = df_prompt.drop(columns="Precio")

In [54]:
df_prompt.columns

Index(['País', 'roble', 'cuero', 'polvo de vainilla', 'cereza',
       'Ligero/Poderoso', 'Carneadobada', 'Seco/Dulce', 'NerelloMascalese',
       'chocolate', 'Montepulciano', 'Cerdo', 'Quesodelechedecabra'],
      dtype='object')

In [55]:
import pytesseract
from PIL import Image
import pandas as pd
import os
from dotenv import load_dotenv
import google.generativeai as genai

In [ ]:

import ast

# Cargar variables de entorno desde .env
load_dotenv()
api_key = os.getenv("GEMINI_API_KEY")

# Configurar la API de Gemini
genai.configure(api_key=api_key)

# Función para extraer texto de una imagen
def extraer_texto_de_imagen(ruta_imagen):
    imagen = Image.open(ruta_imagen)
    texto = pytesseract.image_to_string(imagen)
    return texto

# Cargar y extraer texto de las dos imágenes
ruta_imagen1 = "../data/fotos/sommosdelantero.png"  # Cambia a la ruta de tu primera imagen
ruta_imagen2 = "../data/fotos/sommostrasera.png"  # Cambia a la ruta de tu segunda imagen

texto_imagen1 = extraer_texto_de_imagen(ruta_imagen1)
texto_imagen2 = extraer_texto_de_imagen(ruta_imagen2)

# Combinamos el texto de ambas imágenes
texto_combinado = f"{texto_imagen1}\n{texto_imagen2}"

# Imprimir el texto extraído para verificar
print("Texto extraído de la imagen 1:")
print(texto_imagen1)
print("\nTexto extraído de la imagen 2:")
print(texto_imagen2)

# Definir un DataFrame vacío con las columnas que esperas
tabla_texto = df_prompt.to_csv(index=False, header=True)



# Construir el prompt para Gemini
prompt = f"""
Tengo una tabla con las siguientes columnas: 'País', 'roble', 'cuero', 'polvo de vainilla', 'cereza',
       'Ligero/Poderoso', 'Carneadobada', 'Seco/Dulce', 'NerelloMascalese',
       'chocolate', 'Montepulciano', 'Cerdo', 'Quesodelechedecabra'.

Aquí están algunos ejemplos de las filas existentes en la tabla:
{tabla_texto}

Ahora, completa una nueva fila basada en este texto extraído de dos imágenes:
"{texto_combinado}"

Devuelve solo un lista con los 13 valores separados por comas, sin encabezados. Si no puedes rellenar algún elemento, complétalo con "no encontrado". Quiero que lo devuelvas como una lista de Python.
intenta completar con tu criterio estimado el valor de seco/dulce y ligero/poderoso del 0 al 10. que la salida sea una lista con 12 campos únicamente y nada más, tal como esta [1,	Italia,	0,	1,	0,	6.2,	2.0,	0,	0,	0,	1,	0] no como esta ["['España'", '1', '1', '0', '0', '7', '0.5', '0', '0', '0', '0', '0', '0]']. Quiero que los números de la lista tengan formato numerico.
"""

# Llamar a la API de Gemini
modelo = genai.GenerativeModel("gemini-1.5-pro")
respuesta = modelo.generate_content(prompt)

# Imprimir la respuesta para verificar el formato
print(f"Respuesta de Gemini: {respuesta.text}")

# Obtener la respuesta en formato de lista
nueva_fila = respuesta.text


nueva_fila = ast.literal_eval(respuesta.text)  # Convierte el texto a una lista
# Limpiar los espacios en blanco adicionales de cada valor
#nueva_fila = [valor.strip() for valor in nueva_fila]

# Verificar que el número de elementos coincida con las columnas del DataFrame
'''if len(nueva_fila) == len(df_prompt.columns):
    # Agregar la nueva fila al DataFrame
    df_prompt.loc[len(df_prompt)] = nueva_fila
    print(df_prompt)
else:
    print(f"Error: La fila tiene {len(nueva_fila)} elementos, pero se esperaban {len(df_prompt.columns)}.")'''

Texto extraído de la imagen 1:
a

Reha by VA

2020

“ONESTA BOTELLA TE LLEVAS ALGO M

eee RTE DI
DENUESTRA BODEGA ESPEI
: ‘ANTO'O MAS DE LO QUE]
“ABORANDOLO-CON PAS
“UIDANDOLO CON | ESMERO. 1
TIEMPO YP ASION PARA
SOLO AS{ SABEMOS HAC!
PONIENDO FODO LO Ol - Yen

N° 24414

SON TANS

NOMIN«A

a

Co



Texto extraído de la imagen 2:
RESERVA

IN DE ORIGEN PROTEGIDA SOMONTANO
Vifledos que sobrepasan tu imaginacion, con los
Pirineos como telén de fondo y una bodega dle
espacios infinitos y-formas imposibles. 50!
podemos conseguir vinos que lleguen a emocionar.
Fusion de ideas y variedades, lo mejor del Nuevo
Mundo y el Viejo Mundo dentro de una botella.

aol

TEMPRANILI

SYRAH Y

12 MESES

ROKLI

Embotellado por BODEGA SOMMO»s SL,
R.E. 40939 HU, Barbastro, Espatia.

™s< \
ren

sj a —

LL

\4
4
TEGIDA

. . *Yiabon po, A DiMOmiNac OW DE ORIOENM pact ¢ f ‘ \, ; ‘
TINON TANO $
a
eo”

7) NUTRICIONAL/
| -2A492e JD INGREDIENTES

<= UMMM

:
)} A

Respuesta de Gemini: ['España', 1, 1, 0, 0, 7, 0.5, 0, 0, 0, 0, 0]

'if len(nueva_fila) == len(df_prompt.columns):\n    # Agregar la nueva fila al DataFrame\n    df_prompt.loc[len(df_prompt)] = nueva_fila\n    print(df_prompt)\nelse:\n    print(f"Error: La fila tiene {len(nueva_fila)} elementos, pero se esperaban {len(df_prompt.columns)}.")'

In [57]:
nueva_fila

['España', 1, 1, 0, 0, 7, 0.5, 0, 0, 0, 0, 0]